.headerbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ql-logo {
  max-height: 75px;
  max-width: 250px;
  padding: 20px;
  padding-bottom: 0px;
}

.entry-row {
  display: flex;
}

.entry-label {
  padding: 0 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #1313ab;
  width: 80px;
}

.entry-field {
  font-family: inherit;
}