.f-col {
  display: flex;
  flex-direction: column;
}

.f-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.headerbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ql-logo {
  max-height: 75px;
  max-width: 250px;
  padding: 20px;
  padding-bottom: 0px;
}

.entry-row {
  display: flex;
  max-width: 500px;
}

.entry-label {
  padding-right: 20px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #1313ab;
  width: 120px;
}

.entry-field {
  font-family: inherit;
  font-size: 20px;
}

.gear-row, .gear-row-title {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  width: 290px;
}

.gear-row-title {
  padding: 20px 0px;
}

.gear-icon {
  font-size: 24px;
}

.gear-icon {
  width: 20px;
  margin: auto;
}

.codes-container {
  display: flex;
  flex-direction: column;
}

.codes-row {
  display: flex;
  justify-content: center;
}
.codes-text {
  width: 125px;
  font-size: 20px;
}